* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 2em;
    text-align: center;
}
.login-form {
    border: 1px solid rgb(221, 221, 221);
    width: 400px;
    margin: 100px auto 0 auto;
    padding: 10px 20px;
    text-align: center;
}
#userPassword {
    margin: 10px 0 10px 0;
    padding: 5px 10px;
    width: 250px;
}
#userLogin {
    padding: 5px 10px;
}