/* Global */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
html {
    overflow-x: hidden;
}
body {
    background-color: rgb(235, 235, 235);
}
.nav {
    height: 60px;
    z-index: 1000;
    position: fixed;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    max-width: 960px;
    width: 90vw;
    margin: 20px auto 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.nav li {
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 40px;
    margin: 10px 0 10px 0;
    z-index: 1000;
    color: rgb(0, 0, 0);
    border-right: 1px solid rgb(233, 233, 233);
}
.last {
    border-right: none !important;
}

/* Home Page */
.background {
    height: 100vh;
    width: 100vw;
    background: url('img/background.jpg');
    background-size: cover;
}
.page-index h2 {
    padding-top: 30vh;
    font-size: 7.5vw;
}
.page-index h1 {
    font-size: 10vw;
}

/* RSVP Page */
.page-rsvp .header h2 {
    padding-top: 120px;
    font-size: 5em;
}
h2, h1 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: white;
    transform: rotate(-5deg);
    text-shadow: 2px 2px #000000;
}
.header {
    background: url('img/background.jpg');
    background-size: cover;
    height: 300px;
}
.search-container {
    padding: 20px 0 20px 0;
    background: white;
}
label {
    font-weight: 600;   
}
.search-label-container {
    width: 87.5vw;
    margin: 5px auto 0 auto;
    max-width: 950px;
    text-align: left;
}
.search {
    display: block;
    width: 85vw;
    margin: 5px auto 0 auto;
    padding: 10px 5px 10px 10px;
    max-width: 930px;
}
.block-container {
    width: 90vw;
    padding: 5px;
    max-width: 960px;
    margin: 0 auto 0 auto;
}
.block {
    margin: 20px 0 20px 0;
    background: white;
    padding: 10px 10px 10px 20px;
    box-shadow: 0px 10px 20px rgb(205, 205, 205);
}
.block-upper, .block-upper div, .block-lower, .block-lower div {
    display: inline-block;
}
.block-upper, .block-lower {
    height: 45px;
    width: 100%;
}
.block-name p:last-child {
    margin-top: 5px;
    font-style: italic;
}
.block-name, .block-status {
    padding: 5px;
    float: left;
}
.checkbox-bus {
    margin-top: 10px;
    margin-right: 5px;
}
.block-can, .block-cant {
    float: right;
    padding: 5px;
}
.grey {
    color: rgb(168, 168, 168);
}
.green {
    color: rgb(1, 148, 1);
}
.red {
    color: rgb(163, 0, 0);
}
.button {
    padding: 7.5px 15px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    width: 60px;
    text-align: center;
}
.can {
    background: rgb(0, 202, 216);
}
.can:hover {
    background: rgb(0, 151, 161);
}
.cant {
    background: rgb(63, 63, 63);
}
.cant:hover {
    background: rgb(36, 36, 36);
}
.hide {
    display: none;
}
