/* Global */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
html {
    overflow-x: hidden;
}
body {
    background-color: rgb(235, 235, 235);
}
.bold {
    font-weight: 600;
}
.nav {
    height: 60px;
    z-index: 1000;
    position: fixed;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    max-width: 960px;
    width: 90vw;
    margin: 20px auto 0 auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.nav li {
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 40px;
    margin: 10px 0 10px 0;
    z-index: 1000;
    color: rgb(0, 0, 0);
    border-right: 1px solid rgb(233, 233, 233);
}
.nav li:hover {
    color: rgb(116, 116, 116);
}
.last {
    border-right: none !important;
}

/* Home Page */
.background {
    height: 100vh;
    width: 100vw;
    background: url('img/background.jpg');
    background-size: cover;
}
.page-index h2 {
    padding-top: 30vh;
    font-size: 7.5vw;
}
.page-index h1 {
    font-size: 10vw;
}

/* Event Info Page */
.page-event .nav {
    margin-top: -80px;
}
.page-event, .page-gallery {
    background: url('img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.event-info, .accom-info {
    max-width: 960px;
    width: 90vw;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin: 100px auto 50px auto;
    overflow: auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding-bottom: 20px;
}
.h2-container {
    border-bottom: 1px solid rgb(233, 233, 233);
    max-width: 800px;
    width: 75vw;
    margin: 0 auto 0 auto;
}
.h2-container h2 {
    padding: 30px 0 20px 0;
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
    transform: rotate(0deg);
}
/* RSVP Page */
/* Spinner */
.sk-fading-circle {
    width: 40px;
    height: 40px;
    margin: 450px auto 0 auto;
    position: absolute;
    left: 0; right: 0;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }

.page-rsvp .header h2 {
    padding-top: 145px;
    font-size: 5em;
}
h2, h1 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: white;
    transform: rotate(-5deg);
    text-shadow: 2px 2px #000000;
}
.header {
    background: url('img/background.jpg');
    background-size: cover;
    height: 300px;
}
.search-container {
    padding: 20px 0 20px 0;
    background: white;
}
label {
    font-weight: 600;   
}
.search-label-container {
    width: 87.5vw;
    margin: 5px auto 0 auto;
    max-width: 950px;
    text-align: left;
}
.search {
    display: block;
    width: 85vw;
    margin: 5px auto 0 auto;
    padding: 10px 5px 10px 10px;
    max-width: 930px;
}
.block-container {
    width: 90vw;
    padding: 5px;
    max-width: 960px;
    margin: 0 auto 0 auto;
}
.block {
    margin: 20px 0 20px 0;
    background: white;
    padding: 10px 10px 10px 20px;
    box-shadow: 0px 10px 20px rgb(205, 205, 205);
}
.block-upper, .block-upper div, .block-lower, .block-lower div {
    display: inline-block;
}
.block-upper, .block-lower {
    height: 45px;
    width: 100%;
}
.block-name p:last-child {
    margin-top: 5px;
    font-style: italic;
}
.block-name, .block-status {
    padding: 5px;
    float: left;
}
.block-status {
    width: 50%;
    min-width: 100px;
}
.checkbox-bus {
    margin-top: 10px;
    margin-right: 5px;
}
.block-can, .block-cant {
    float: right;
    padding: 5px;
}
.grey {
    color: rgb(168, 168, 168);
}
.green {
    color: rgb(1, 148, 1);
}
.red {
    color: rgb(163, 0, 0);
}
.button {
    padding: 7.5px 15px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    width: 85px;
    text-align: center;
}
.can {
    background: rgb(0, 202, 216);
}
.can:hover {
    background: rgb(0, 151, 161);
}
.cant {
    background: rgb(63, 63, 63);
}
.cant:hover {
    background: rgb(36, 36, 36);
}
.hide {
    display: none;
}
/* Accommodation Page */
.accom-content {
    text-align: center;
}
.left-text-container {
    margin: 10px 20px;
    vertical-align: top;
    text-align: left;
}
.left-text-container p {
    padding: 10px 0 10px;
}
.left-text-container, .right-maps-container {
    max-width: 400px;
    width: 90%;
    display: inline-block;
}
.right-maps-container {
    margin: 10px 20px;
    vertical-align: top;  
}
#map {
    height: 400px;
    width: 100%;
}
.holdens-image {
    margin: 5px 0 10px 0;
    width: 100%;
}

/* Gallery Page */
.page-gallery .nav {
    margin-top: -80px;
}
.page-gallery h1 {
    padding-top: 40vh;
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
    transform: rotate(0deg);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px #bbbbbb;
}
.gallery-content {
    max-width: 960px;
    width: 90vw;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin: 100px auto 50px auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.gallery-h2 {
    
}
/* Slider */
.swiper-container {
    height: 570px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container img {
    max-width: 80%;
}

@media screen and (max-width: 870px) {
    .mobile-display {
        display: none;
    }
    .nav li {
        width: 23%;
        font-size: 0.9em;
    }
    .page-index h2 {
        padding-top: 30vh;
        font-size: 4em;
    }
    .page-index h1 {
        font-size: 6em;
    }
    .h2-container h2 {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 720px) {
    .nav ul .accom-nav {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 600px) {
    .h2-container h2 {
        font-size: 2em;
    }
    .nav ul .accom-nav {
        font-size: 0.6em;
    }
}
@media screen and (max-width: 400px) {
    .mobile-display {
        display: none;
    }
    .nav li {
        font-size: 0.8em;
    }
    body {
        font-size: 0.8em;
    }
    .button {
        width: 60px;
    }
    .swiper-container img {
        max-width: 75%;
    }
}
